# Intro to Data Cleaning

**Data cleaning** is a _4 step process_:

> finding missing data

> fix missing data

> clean not null and invalid values

>visualize

In [1]:
import numpy as np
import pandas as pd

## Pandas utility functions
Similarly to `numpy`, pandas also has a few utility functions to identify and detect null values:

In [2]:
pd.isnull(np.nan)

True

In [3]:
pd.isnull(None)

True

In [4]:
pd.isna(np.nan)

True

In [5]:
pd.isna(None)

True

The opposite ones also exist:

In [6]:
pd.notnull(None)

False

In [7]:
pd.notnull(np.nan)

False

In [8]:
pd.notnull(3)

True

These functions also work with Series and `DataFrame`s:

In [9]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [10]:
pd.notnull(pd.Series([1, np.nan, 7]))

0     True
1    False
2     True
dtype: bool

In [11]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

## Pandas Operations with Missing Values

Pandas manages missing values more gracefully than numpy. `nan`s will no longer behave as "viruses", and operations will just ignore them completely:

In [15]:
pd.Series([1, 2, np.nan]).count()

2

In [16]:
pd.Series([1, 2, np.nan]).sum()

3.0

In [17]:
pd.Series([2, 2, np.nan]).mean()

2.0

## Filtering missing data

As we saw with numpy, we could combine boolean selection + `pd.isnull` to filter out those `nan`s and null values:

In [18]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])

In [19]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [20]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [21]:
pd.notnull(s).sum()

4

In [22]:
pd.isnull(s).sum()

2

In [23]:
s[pd.isnull(s)]

3   NaN
4   NaN
dtype: float64

In [24]:
s[pd.notnull(s)]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

But both `notnull` and `isnull` are also methods of `Series` and `DataFrame`s, so we could use it that way:

In [25]:
s.notnull()

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [26]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [27]:
s[s.isnull()]

3   NaN
4   NaN
dtype: float64

In [28]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64