# Intro to Data Cleaning

**Data cleaning** is a _4 step process_:

> finding missing data

> fix missing data

> clean not null and invalid values

>visualize

In [1]:
import numpy as np
import pandas as pd

## Pandas utility functions
Similarly to `numpy`, pandas also has a few utility functions to identify and detect null values:

In [2]:
pd.isnull(np.nan)

True

In [3]:
pd.isnull(None)

True

In [4]:
pd.isna(np.nan)

True

In [5]:
pd.isna(None)

True

The opposite ones also exist:

In [7]:
pd.notnull(None)

False

In [8]:
pd.notnull(np.nan)

False

In [13]:
pd.notnull(3)

True

These functions also work with Series and `DataFrame`s:

In [15]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [16]:
pd.notnull(pd.Series([1, np.nan, 7]))

0     True
1    False
2     True
dtype: bool

In [17]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

##